* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
}
main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    max-width: 70rem;
}
/*** HEADER ***/

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header h1, span{
    color: hsl(234, 12%, 34%);
    font-size: 1.57rem;
}
.header p {
    color: hsl(229, 6%, 66%);
    font-size: 1rem;
    margin-top: 15px;
}

/*** HEADER -END- ***/

/*** CONTAINER ***/
img {
    width: 50px;
    position: relative;
    left: 80%;
}
.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 15px 15px 0 hsla(212, 86%, 64%, 0.2);
}
.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text h2 {
    font-size: 1.2rem;
}
.text p {
    font-size: 0.9rem;
    color: hsl(229, 6%, 66%);
    line-height: 1.5rem;
}
.supervisor {
    border-top: 6px solid cyan;
}
.team-builder {
    border-top: 6px solid red;
}
.karma {
    border-top: 6px solid orange;
}
.calculator {
    border-top: 6px solid blue;
}
/*** CONTAINER -END- ***/